{
    "presets": [
        "@babel/preset-env", 
        "@babel/preset-typescript",
        
    ],
    "plugins": [
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-object-rest-spread",
      [
        "replace-require-function", {
          "filenames": [
            "tracker.js",
            "util.js"
          ],
          "newRequire": "window.cep_node.require"
        }
      ]
    ]

}